.hello {
    width: 100%;
    background-color: rgba(41, 40, 40, 0.883);
    fill-opacity: 0.5;
    // height: 0;
    min-height: 900px;
    padding: 70px 100px 70px 100px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hello__text {
    //  margin: 100px auto 0;
    width: 280px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    &>img {
        margin: 0 auto;
        width: 190px;
        height: 200px;
        border-radius: 50%;
        margin-bottom: 20px;
    }
    &>span {
        color: rgb(231, 201, 166);
        font-family: $osr;
        font-size: 24px;
        line-height: 26px;
        text-align: center;
        margin-bottom: 20px;
    }
    &>h1 {
        color: rgb(179, 133, 7);
        font-size: 48px;
        font-family: $ir;
        line-height: 50px;
        text-transform: uppercase;
        text-align: center;
    }
    &>p {
        color: rgb(231, 201, 166);
        font-family: $mpr;
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 50px;
        text-align: center;
        margin: 30 0;
    }
    &>a {
        margin: 0 auto;
    }
    &>i.fa-cubes {
        margin: 0 auto;
        font-size: 40px;
        color: rgb(179, 133, 7);
    }
}

//@import "mixins";
@include mq("tablet-wide", min) {
    .hello__text {
        //  margin: 100px auto 0;
        width: 280px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        &>img {
            margin: 0 auto;
            width: 190px;
            height: 200px;
            border-radius: 50%;
            margin-bottom: 20px;
        }
        &>span {
            color: rgb(231, 201, 166);
            font-family: $osr;
            font-size: 24px;
            line-height: 26px;
            text-align: center;
            margin-bottom: 20px;
        }
        &>h1 {
            color: rgb(179, 133, 7);
            font-size: 48px;
            font-family: $ir;
            line-height: 50px;
            text-transform: uppercase;
            text-align: center;
        }
        &>p {
            color: rgb(231, 201, 166);
            font-family: $mpr;
            font-size: 24px;
            line-height: 26px;
            margin-bottom: 50px;
            text-align: center;
            margin: 30 0;
        }
        &>a {
            margin: 0 auto;
        }
        &>i.fa-cubes {
            margin: 0 auto;
            font-size: 40px;
            color: rgb(179, 133, 7);
        }
    }
}