.menu {
    padding: 10px 40px;
    display: flex;
    width: 100%;
    max-width: 1600px;
    align-items: center;
    position: fixed;
    z-index: 300;
    box-sizing: border-box;
    &__logo {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-family: $ir;
        font-weight: 600;
        font-size: 50px;
        color: $colOrangeDark;
        transform: rotateZ(-20deg);
        border: 1px solid rgba(128, 128, 128, 0.178);
        animation: hello__logo 700ms 2 ease-in-out;
        background-color: #fff;
        height: 110px;
        width: 110px;
        justify-content: center;
        border-radius: 50%;
        &:hover {
            color: $colOrangeLight;
        }
        &:active {
            color: $colOrangeMiddle;
        }
    }
    &__nav {
        display: flex;
        margin-left: auto;
    }
    &__ul {
        display: flex;
        list-style-type: none;
        height: 50px;
        border-radius: 10px;
        align-items: center;
    }
    &__ulanim {
        animation: hello__ul 1s 1 linear 300ms;
        animation-fill-mode: forwards;
    }
    &__ul>li>a {
        height: 60px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid rgba(144, 144, 144, 0.267);
        background-color: honeydew;
        border-radius: 50%;
        text-decoration: none;
        margin: 0 10px;
        -webkit-box-shadow: -1px 9px 53px -5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -1px 9px 53px -5px rgba(0, 0, 0, 0.75);
        box-shadow: -1px 9px 53px -5px rgba(0, 0, 0, 0.75);
        text-decoration: none;
        font-size: 20px;
        font-family: $mpr;
        color: $colOrangeDark;
        &:hover {
            background-color: rgb(105, 105, 105);
            color: $colOrangeLight;
        }
        &:active {
            background-color: rgb(39, 39, 39);
            color: $colOrangeMiddle;
        }
    }
    &__ul>li:nth-child(2),
    &__ul>li:nth-child(4) {
        margin-top: 25px;
    }
    &__ul>li:nth-child(1),
    &__ul>li:nth-child(3),
    &__ul>li:nth-child(5) {
        margin-top: -15px;
    }
}