.menu {
    padding: 10px 40px;
    display: flex;
    width: 100%;
    max-width: 1600px;
    align-items: center;
    position: fixed;
    z-index: 300;
    box-sizing: border-box;
    &__logo {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-family: $ir;
        font-weight: 600;
        font-size: 50px;
        color: $colOrangeDark;
        transform: rotateZ(-20deg);
        border: 1px solid rgba(128, 128, 128, 0.178);
        animation: hello__logo 700ms 2 ease-in-out;
        background-color: #fff;
        height: 110px;
        width: 110px;
        justify-content: center;
        border-radius: 50%;
        &:hover {
            color: $colOrangeLight;
        }
        &:active {
            color: $colOrangeMiddle;
        }
    }
    &__nav {
        display: flex;
        margin-left: auto;
    }
    &__ofOn {
        display: none;
    }
    &__ul {
        display: flex;
        list-style-type: none;
        height: 50px;
        border-radius: 10px;
        align-items: center;
    }
    &__ul>li>a {
        height: 60px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid rgba(144, 144, 144, 0.267);
        background-color: honeydew;
        border-radius: 50%;
        text-decoration: none;
        margin: 0 10px;
        -webkit-box-shadow: -1px 9px 53px -5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -1px 9px 53px -5px rgba(0, 0, 0, 0.75);
        box-shadow: -1px 9px 53px -5px rgba(0, 0, 0, 0.75);
        text-decoration: none;
        font-size: 20px;
        font-family: $mpr;
        color: $colOrangeDark;
        &:hover {
            background-color: rgb(105, 105, 105);
            color: $colOrangeLight;
        }
        &:active {
            background-color: rgb(39, 39, 39);
            color: $colOrangeMiddle;
        }
    }
    &__ul>li:nth-child(2),
    &__ul>li:nth-child(4) {
        margin-top: 25px;
    }
    &__ul>li:nth-child(1),
    &__ul>li:nth-child(3),
    &__ul>li:nth-child(5) {
        margin-top: -15px;
    }
}

@import "mixins";
@include mq(1024, max) {
    .menu {
        margin-top: 5px;
        padding: 10px 40px;
        display: flex;
        width: 100%;
        max-width: 1600px;
        align-items: center;
        position: absolute;
        z-index: 300;
        box-sizing: border-box;
        background-color: rgb(47, 47, 47);
        &__logo {
            display: flex;
            align-items: center;
            text-decoration: none;
            font-family: $ir;
            font-weight: 600;
            font-size: 25px;
            color: $colOrangeDark;
            transform: rotateZ(-20deg);
            border: 1px solid rgba(128, 128, 128, 0.178);
            animation: hello__logo 700ms 2 ease-in-out;
            background-color: #fff;
            height: 70px;
            width: 70px;
            justify-content: center;
            border-radius: 50%;
            &:hover {
                color: $colOrangeLight;
            }
            &:active {
                color: $colOrangeMiddle;
            }
        }
        &__nav {
            display: flex;
            margin-left: auto;
            width: 100px;
            margin-right: 10px;
            position: fixed;
            box-sizing: content-box;
            right: -50px;
            top: 32px;
        }
        &__ofOn {
            display: flex;
            width: 40px;
            height: 40px;
            margin-left: auto;
            justify-content: center;
            align-items: center;
            position: absolute;
            border: 1px solid rgba(128, 128, 128, 0.568);
            border-radius: 10px;
            background-color: rgb(31, 31, 31);
            &>i.fa-bars {
                position: absolute;
                display: block;
                visibility: visible;
                transition: opacity 400ms;
                opacity: 1;
                left: 7px;
                top: 5px;
                font-size: 30px;
                color: rgba(255, 255, 0, 0.938);
                z-index: 350;
            }
            &>i.fa-times {
                position: absolute;
                left: 10px;
                top: 5px;
                // opacity: 0;
                visibility: hidden;
                transition: opacity 400ms;
                display: block;
                font-size: 30px;
                color: rgba(255, 255, 0, 0.938);
                z-index: 350;
            }
        }
        &__ul {
            position: absolute;
            width: 90px;
            background-color: rgba(144, 144, 144, 0);
            border-radius: 5px;
            top: 50px;
            left: -50px;
            display: flex;
            flex-direction: column;
            list-style-type: none;
            height: auto;
            border-radius: 10px;
            align-items: center;
            transform: scaleY(0);
            transition: transform 300ms;
            &>li {
                width: 100%;
                animation-name: none;
                margin: 10px 0;
            }
        }
        &__ul-active {
            transform: scaleY(1);
        }
        &__ul>li>a {
            height: 20px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid rgba(144, 144, 144, 0.267);
            background-color: honeydew;
            border-radius: 5px;
            text-decoration: none;
            margin: 0 0;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            text-decoration: none;
            font-size: 15px;
            font-family: $mpr;
            color: $colOrangeDark;
            &:hover {
                background-color: honeydew;
                color: $colOrangeDark;
            }
            &:active {
                background-color: rgb(39, 39, 39);
                color: $colOrangeMiddle;
            }
        }
        &__ul>li:nth-child(2),
        &__ul>li:nth-child(4) {
            margin-top: 0px;
        }
        &__ul>li:nth-child(1),
        &__ul>li:nth-child(3),
        &__ul>li:nth-child(5) {
            margin-top: 0px;
        }
    }
}